*{
    margin: 0px;
    padding: 0px;
}

body{
    background: #141414;
    font-family: Arial, Helvetica, sans-serif;
}

.nav-des{
    background: #212020;
    height: 100px;
}

/* linea divisoria amarilla */

.linea{
    position: relative;
    bottom: 15px;
    height: 5px;
    background: #D09E10;
}


/* Diseño principal de navegacion */

nav{
    display: flex;
    justify-content: space-between;
    text-align: center;
}


/* Imagen de Cop colombia */

nav img{
    height: 100px;
    width: 150px;
    margin: 5px;
    margin-left: 15px;
}

/* Botton de Iniciar sesion */

nav .iniciar{
    margin: 30px;
    margin-right: 15px;
    width: 145px;
    height: 42px;
}

.iniciar { 
  background: linear-gradient(660deg, #c5c5c548, #000000 );
  color: white;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 5px;
  border: 2px solid #D09E10;
  animation: 0.1s;
}

a{
    color: white;
    text-decoration: none;
}

.iniciar:hover{
    cursor: pointer;
    background: linear-gradient(760deg, #D09E10, #1d1d1d );
}


/* pagina de imagnes desplasbles */

.des{
    position: relative;
    width: 98%;
    height: 80vh;
    overflow: hidden;
    margin: auto;
    margin-top: 12px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.imagenes{
    display: flex;
    height: 100%;
    transition: transform 0.6 ease;
}

.slide{
    position: relative;
    min-width: 100%;
    height: 100%;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit:cover ;
    flex-shrink: 0;
}

/*Texto y clase overlay*/

.overlay {
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100%;

    background: linear-gradient(to top, rgba(0,0,0,0.7), rgba(0,0,0,0.2));

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: white;
    text-align: center;
}

.overlay span {
    color: #D09E10;
    font-size: 3rem;
    margin: 0;
}

.overlay h1 {
    font-size: 3rem;
    margin: 0;
    position: absolute;
    bottom: 80px;
    left: 40px;
}

.overlay p {
    font-size: 1.2rem;
    opacity: 0.8;
    position: absolute;
    bottom: 50px;
    left: 50px;
}


/*Botones*/

.botton {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(112, 111, 111, 0.023);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.prev{
    left: 10px;
}

.next{
    right: 10px;
}

.botton:hover{
    background: rgba(61, 61, 61, 0.495);
}

/* Indicadores */

.indicadores{
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
}

.indicadores span{
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 5px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    cursor: pointer;
}

.indicadores .activo{
    background: #D09E10;
}

/*Visión*/

.vision {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 9px;
    color:  white;
}

.vision span {
    color: #D09E10;
} 

.vision h1 {
    font-size: 60px;
    margin: 25px;
    margin-top: 45px;
}

.vision p{
    font-size: 20px;
    margin: 25px;
}



/*Vision imagenes retrato*/
.vi-imagenes{    
    width: 900px;
    height: 300px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2px;

    background: #141414;
}

.vi-imagen{
    background: #212020;
    overflow: hidden;
    border: 3px solid #1d1d1d;
}

.vi-imagen img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;

    transition: 0.4s;
}

.vi-imagen img:hover{
    transform: scale(1.05);
}

.vi-imagen-derecha {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 2px;
}

/* Mision */

.mision {


    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    margin: 12px;

    color: white;
}

.mi-des span{
    color: #D09E10;
}

.mi-des {
    margin-top: 50px;
}

.mi-des h1 {
    text-align: right;
    font-size: 50px;
    margin-right: 50px;
}

.mi-des p {
    font-size: 20px;
    margin: 12px;
}


/*imagnes mision*/
.mi-imagenes {
    width: 980px;
    height: 300px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    gap: 15px;

    margin: 12px;
}

.mi-img{
    background: #161616;
    overflow: hidden;
    border: 1px solid #1d1d1d ;
}

.mi-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    display: block;

    transition: 0.4s;
}

.mi-img img:hover{
    transform: scale(1.05);
}

.footer{
    background: #111;
    color: #fff;
    padding: 10px 20px 10px;
}

.footer-copy span {
    color: #D09E10;
} 

.footer-links a:hover,
.footer-redes a:hover{
    color: #00a2ff;
}

.footer-copy{
    text-align: center;
    margin-top: 20px;
    border-top: 1px solid #333;
    padding-top: 10px;
    font-size: 14px;
}