/* Mensaje de contraseña incorrecta */

.alert-login-error{
    height: 40px;
    width: 100%;
    background: #000000;
    border-radius: 5px;
}

.parrafo {
    position: relative;
    top: 10px;
    left: 40px;
    font-size: 1.1em;
    color: #cccccc;
}

.barra-tiempo{
    position: relative;
    top: 17px;
    left: 0;
    height: 3px;
    border-radius: 5px;
    background: #d4a900;
    animation: disminuir 3s linear forwards;
}

@keyframes disminuir {
    from { width: 100%;}
    to {width: 0%;}
}