@import url('./hamburguesa/hamburguesa.css');
@import url('../dashboard/dashboard.css');

/* Botones de trancision */

.button-group{
    margin-top: 12px;
}

.button-group{
    position: relative;
    left: 15px;
    background: #010101;
    height: 50px;
    width: 295px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-group a{
    position: relative;
    display: inline-block;
    font-size: 1em;
    font-weight: 500;
    color: #ffff;
    text-decoration: none;
    padding: 0 25px;
    z-index: 1;
}

.button-group span {
    position: absolute;
    top: 0;
    left: 0;
    width: 130px;
    height: 100%;
    background: linear-gradient(55deg, #D09E10, #f5bb568c);
    border-radius: 10px;
    transition: .5s;
}

.button-group a.activo{
    color: #000;
    font-weight: bold;
}

.card-border{
    margin: 12px;
    padding: 0 0 302px;
    border: 4px solid #D09E10;
    border-radius: 12px;
}


.black-card{
    display: flex;
    flex-direction: row;
    margin-top: 0 auto;
}


.black-card{
    background: #000000;
    padding: 0 0 105px;
    height: 120px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}


.text-card{
    position: relative;
    top: 179%;
    left: 12px;
    width: 50%;
    height: 40px;
}


.text-card h1{
    color: #ffffff;
    font-size: clamp(20px, 2vw, 49px);
    font-weight: bold;
}


.text-card p{
    color: #ffffff;
    font-size: clamp(9px, 2vw, 20px);
    font-weight: bold;
}


.text-card span{
    color: #D09E10;
    font-size: clamp(7px, 2vw, 20px);
    font-weight: bold;
}


.botton-card{
    position: relative;
    top: 4px;
    margin: 20px;
    width: 50%;
    height: 60px;
}


.botton-alumno{
    display: flex;
    justify-content: right;
    margin: 12px;
}


.botton-alumno a{
    background: #D09E10;
    text-decoration: none;
    position: relative;
    top: 5px;
    padding: clamp(10px, 1vw, 1px) clamp(4px, 2vw, 1px);
    font-size: clamp(15px, 2vw, 25px);
    font-weight: bold;
    color: #f1f1f1;
    border-radius: 5px;
}

/* selector y buscar */

.card-options{
    display: grid;
    grid-template-columns: 200px 200px 1fr;
    gap: 15px;
    margin: 10px;
    align-items: end;
    justify-content: center;
    align-items: center;
}

/*Seleccionar */

.card-select{
    width: 100%;
}


label{
    color: #ffffff;
    font-weight: bold;
    font-size: clamp(12px, 2vw, 15px);
    margin: -2px;
    padding: clamp(2px, 1vw, 5px) clamp(2px, 2vw, 6px);
    background: #000000;
    border-radius: 2px;
}


select, ::picker(select){
    appearance: base-select;
}

.select-estado{
    position: relative;
    right: 40px;
}

select{
    background: #010101;
    padding: clamp(3px, 1vw, 5px) clamp(2px, 2vw, 6px);
    font-size: clamp(12px, 2vw, 15px);
    width: 40%;
    border-radius: 5px;
    transition: background 0.3s ease;
}


select:hover, select:focus{
    background: #D09E10;
}


select selectedcontent{
    color: white;
    font-weight: bold;
}


select::picker-icon{
    color: #ffff;
    transition: 0.4s transform;
}


select:open::picker-icon{
    color: #ffff;
    transform: rotate(180deg);
}


::picker(select){
    background: #000000;
    color: #ffff;
    border: none;
    border-radius: 5px;
}


.custom-select{
    border: 1px solid #D09E10;
    color: white;
    font-weight: bold;
    outline: none;
    cursor: pointer;
}
 
select option{
    padding: 5px;
}


select option:hover{
    background: #D09E10;
}


select option:checked{
    background: #D09E10;
}


select option::checkmark{
    order: 1;
    margin-left: 32px;
    content: "⚽";
}

/*BUSCAR */
.card-buscar{
    margin-left: auto;
    width: 50%;
    height: 30px;
}


.buscar{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;

    background: #c8c8c8;

    border: 1px solid #303030;
    border-radius: 40px;

    overflow: hidden;
}


.buscar input{
    flex: 1;

    background: transparent;
    color: #000000;

    border: none;
    outline: none;

    padding: 0 15px;
    font-size: 15px;
}

.buscar input::placeholder{
    color: #000000;
}

.buscar button{
    width: 40px;
    height: 100%;

    border: none;
    border-left: 1px solid #c1bdbd;

    background: #c8c8c8;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
}

.buscar button:hover{
    background: #2f2f2f;
}

.buscar:focus-within{
    border-color: #D09E10;
    box-shadow: 0 0 2px #D09E10;
}

.buscar img{
    width: 25px;
    height: 25px;
}

/* linea de divison */

.division{
    background: #D09E10;
    padding: 0 0 3px;
}


/*TABLA*/

.card-table{
    width: 100%;
    margin: 15px 0;
}

/* Responsive */

.table-responive{
    width: 100%;

    overflow-x: auto;
}


.tabla{
    width: 100%;
    min-width: 1200px; 

    border-collapse: separate;
    border-spacing: 2px;


    color: white;
    padding: 12px;
}

.tabla th{
    background: #000000;
    padding: 12px;
    text-align: center;
    border-radius: 5px;
    white-space: nowrap;
}

.tabla td{
   padding: 12px;
   text-align: center;
   border-radius: 5px;

   word-break: break-word;
   overflow: break-word;

}

.tabla tr:nth-child(even){
    background: #000000;
}


.tabla tr:nth-child(odd){
    background: #272727;
    font-weight: bold;
}

.acciones{
    white-space: nowrap;
}

.acciones button{
    border: none;
    background: transparent;
    cursor: pointer;
    font-size: 25px;
    margin: 0 2px;
    margin-top: 5px;
}

.mingcute--edit-fill {
  display: inline-block;
  width: 1.2em;
  height: 1.2em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='none'%3E%3Cpath d='m12.593 23.258l-.011.002l-.071.035l-.02.004l-.014-.004l-.071-.035q-.016-.005-.024.005l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427q-.004-.016-.017-.018m.265-.113l-.013.002l-.185.093l-.01.01l-.003.011l.018.43l.005.012l.008.007l.201.093q.019.005.029-.008l.004-.014l-.034-.614q-.005-.018-.02-.022m-.715.002a.02.02 0 0 0-.027.006l-.006.014l-.034.614q.001.018.017.024l.015-.002l.201-.093l.01-.008l.004-.011l.017-.43l-.003-.012l-.01-.01z'/%3E%3Cpath fill='%23d09e10' d='M15 3c1.296 0 2.496.41 3.477 1.11l-9.134 9.133a1 1 0 1 0 1.414 1.414l9.134-9.134A6 6 0 0 1 21 9v10a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2zm6.657-.657a1 1 0 0 1 0 1.414L19.89 5.523a6 6 0 0 0-1.414-1.414l1.766-1.766a1 1 0 0 1 1.414 0Z'/%3E%3C/g%3E%3C/svg%3E");
}

.ic--round-delete {
  display: inline-block;
  width: 1.2em;
  height: 1.2em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23c40000' d='M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V9c0-1.1-.9-2-2-2H8c-1.1 0-2 .9-2 2zM18 4h-2.5l-.71-.71c-.18-.18-.44-.29-.7-.29H9.91c-.26 0-.52.11-.7.29L8.5 4H6c-.55 0-1 .45-1 1s.45 1 1 1h12c.55 0 1-.45 1-1s-.45-1-1-1'/%3E%3C/svg%3E");
}

.table-estado{
    background: #154507;
    border-radius: 5px;
    padding: 0 0 12px;
}

.pago{
    background: #154507;
    padding: 0 0 12px;
    border-radius: 5px;
}

.table-estado p, .pago p{
    position: relative;
    top: 5px;
}

.table-foto{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background: #a7a7a7;
    border: 2px solid #D09E10;
    border-radius: 50px;
}

/*division de tabla y foter*/
.division-2{
    position: relative;
    top: 300px;
    background: #D09E10;
    padding: 0 0 3px;
}

/*botones para ver mas tablas*/

.card-footer{
    position: relative;
    top: 301px;
    background: #000;
    padding: 15px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}


.pagination{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

.page-btn{
    min-width: 30px;
    height: 40px;

    border: 1px solid #D09E10;
    border-radius: 6px;

    background: #1d1d1d;
    color: white;

    transition: all .3s ease;
}

.page-btn:hover{
    background: #D09E10;
    color: #000;
}

/* ===== COLORES PARA ESTADO ===== */
.estado-activo p {
    background-color: #28a745;   /* verde */
    color: white;
    padding: 4px 8px;
    border-radius: 12px;
    font-weight: bold;
    text-align: center;
}

.estado-inactivo p {
    background-color: #dc3545;   /* rojo */
    color: white;
    padding: 4px 8px;
    border-radius: 12px;
    font-weight: bold;
    text-align: center;
}


@media (max-width: 992px){

    select{
        margin: 2px;
        width: 50%;
    }

    .select-estado{
        position: relative;
        left: 2px;
    }

    .card-options{
        grid-template-columns: 1fr 1fr;
    }

    .card-buscar{
        grid-column: 1 / -1;
    }

    .card-buscar{
        width: 100%;
    }

    .buscar{
        width: 100%;
    }

    .tabla th{
        padding: 10px;
        font-size: 14px;
    }
}

@media (max-width: 768px){
    
    select{
        margin: 2px;
        width: 70%;
    }

    .select-estado{
        position: relative;
        left: 2px;
    }

    .card-options{
        grid-template-columns: 1fr;
    }

    .card-buscar{
        grid-column: auto;
    }

    .card-buscar{
        width: 100%;
    }

    .buscar{
        width: 100%;
    }

    .tabla th,
    .tabla td{
        padding: 8px;
        font-size: 13px;
    }
}